.popup-invite {
  & p {
    margin: 16px 0 0;
  }

  .link {
    text-align: center;
    font-size: 1.8em;
    display: block;
    padding: 10px 20px;
    background: var(--beige-back);
    border-radius: 5px;
    word-wrap: break-word;
    user-select: all;
  }

  .qr-code {
    display: block;
    width: calc(80vh - 52px - 3.2em);
    min-width: 350px;
    max-width: calc(100vw - 96px);
    aspect-ratio: 1;
    margin: 0 auto;

    /* WIP: dark mode
    @media (prefers-color-scheme: dark) {
      filter: invert();
    }
    */
  }

  .dialog-options {
    margin-top: 0;
    text-align: center;
  }

  & button {
    margin: 0 16px;
  }
}
