<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">
<head>
<meta charset="utf-8">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="#4EC7B6">
<title><%= htmlWebpackPlugin.options.title %></title>
<link rel="apple-touch-icon" href="/assets/apple-touch-icon.png"/>
<link rel="manifest" href="/assets/manifest.json"/>
</head>
<body>
<div id="<%= htmlWebpackPlugin.options.appMountId %>">
  <div class="pre-load">
    <p class="load">Loading&hellip;</p>
    <p class="info">Page not loading? Make sure you are using a modern browser such as the latest version of Chrome, Firefox, Edge or Safari.</p>
    <noscript><p class="noscript"><%= htmlWebpackPlugin.options.title %> requires JavaScript. Please enable scripts to continue.</p></noscript>
  </div>
</div>
</body>
</html>
