@import url('./global-styles/opensans.css');
@import url('./global-styles/form.css');
@import url('./global-styles/button.css');
@import url('./global-styles/article.css');

html {
  --page-back: #ffffff;
  --header-back: #ffffff;
  --modal-back: #ffffff;
  --primary-back: #ffffff;
  --primary-text: #000000;
  --selected-back: hsl(200deg, 30%, 84%);

  --modal-screen: rgba(128, 128, 128, 0.5);

  --focus-border: #005fcc;
  --focus-border-heart: #dd4422;

  --green-back: hsl(172deg, 50%, 55%);
  --green-shadow: hsl(172deg, 50%, 45%);

  --yellow-back: hsl(45deg, 100%, 55%);
  --yellow-shadow: hsl(45deg, 100%, 45%);

  --red-back: hsl(5deg, 75%, 58%);
  --red-shadow: hsl(5deg, 75%, 45%);

  --beige-back: hsl(45deg, 20%, 92%);
  --beige-shadow: hsl(45deg, 20%, 80%);

  --grey-button-back: #f8f8f8;
  --grey-button-outline: #aabbaa;
  --grey-button-text: var(--green-text-on-white);

  --green-button-back: hsl(172deg, 72%, 60%);
  --green-button-text: #000000;
  --green-button-icon: #ffffff;
  --green-button-dark: hsl(172deg, 55%, 50%);
  --green-button-dark-outline: var(--green-button-dark);
  --green-button-dark-text: #ffffff;

  --red-button-dark: var(--red-shadow);
  --red-button-dark-outline: var(--red-button-dark);
  --red-button-dark-text: #ffffff;

  --green-icon: var(--green-back);
  --red-icon: #aa3300;
  --bright-red-icon: #cc2200;
  --beige-icon: hsl(45deg, 20%, 85%);

  --pale-text-on-white: #666666;
  --green-text-on-white: #25794f;
  --yellow-text-on-white: hsl(45deg, 100%, 35%);
  --red-text-on-white: #cc0000;
  --highlight-text-on-dark: #ffffff;
  --input-text: #000000;

  --link-text: #017767;
  --link-text-hover: #097460;
  --link-disabled: rgba(0, 0, 0, 0.6);

  --header-link-back-hover: #dddddd;
  --header-link-text: #666666;
  --header-link-text-hover: #000000;

  --notification-back: #000000;
  --notification-text: #eeeeee;

  --shadow-1: rgba(0, 0, 0, 0.2);
  --shadow-2: rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: dark) {
  html {
    --page-back: hsl(30, 3%, 10%);
    --header-back: hsl(30, 3%, 10%);
    --modal-back: hsl(30, 3%, 10%);
    --primary-back: hsl(30, 3%, 10%);
    --primary-text: #f8f8f8;
    --selected-back: hsl(200deg, 72%, 28%);

    --modal-screen: rgba(64, 64, 64, 0.5);

    --focus-border: #005fcc;
    --focus-border-heart: #dd4422;

    --beige-back: hsl(30, 3%, 17%);
    --beige-shadow: hsl(45deg, 3%, 30%);

    --grey-button-back: #555555;
    --grey-button-outline: var(--grey-button-back);
    --grey-button-text: #f8f8f8;

    --green-button-back: hsl(172, 95%, 36%);
    --green-button-text: #f8f8f8;
    --green-button-icon: #f8f8f8;
    --green-button-dark: hsl(172, 95%, 44%);
    --green-button-dark-outline: var(--green-button-dark);
    --green-button-dark-text: #111111;

    --red-button-dark: var(--red-shadow);
    --red-button-dark-outline: var(--red-button-dark);
    --red-button-dark-text: #ffffff;

    --green-icon: hsl(172deg, 50%, 55%);
    --red-icon: #cc3300;
    --bright-red-icon: #ee3300;
    --beige-icon: hsl(45deg, 20%, 85%);

    --pale-text-on-white: #a8a8a8;
    --green-text-on-white: hsl(172, 63%, 46%);
    --yellow-text-on-white: hsl(43deg, 100%, 65%);
    --red-text-on-white: #ff5511;
    --highlight-text-on-dark: #ffffff;
    --input-text: #ffffff;

    --link-text: #1de1c7;
    --link-text-hover: #13f0d2;
    --link-disabled: rgba(0, 0, 0, 0.6);

    --header-link-back-hover: #333333;
    --header-link-text: #999999;
    --header-link-text-hover: #ffffff;

    --notification-back: #333333;
    --notification-text: #eeeeee;

    --shadow-1: rgba(0, 0, 0, 0.4);
    --shadow-2: rgba(0, 0, 0, 0.8);
  }
}

body {
  background: var(--page-back);
  color: var(--primary-text);
}

body,
input,
textarea,
button,
dialog {
  font:
    300 1em / 1.4 'Open Sans',
    sans-serif;
}

.global-longform p,
.global-longform li {
  line-height: 1.7;
}

article {
  background: var(--beige-back);
  border-bottom: 1px solid var(--page-back); /* prevent background clipping */
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--link-text);
}

a:active,
a:hover,
a:focus {
  text-decoration: underline;
  color: var(--link-text-hover);
}

code {
  font-family: monospace;
  font-size: 1.1em;
}

@media print {
  html {
    --page-back: #ffffff;
    --header-back: none;
    --modal-back: #ffffff;
    --primary-back: #ffffff;
    --primary-text: #000000;
    --beige-back: #ffffff;
    --beige-shadow: #808080;
  }

  a:link,
  a:visited {
    text-decoration: underline;
  }
}
