@import (reference) './colours.less';

.mixin-form-styling {
  display: block;
  margin: 64px auto 128px;
  width: 600px;
  max-width: calc(100% - 32px);

  label {
    display: block;
  }

  input, .prefixed-input {
    display: block;
    margin: 4px 0 16px;
    padding: 8px;
    font-size: 1.4em;
    border: 1px solid @beige-shadow;
    width: 100%;
    box-sizing: border-box;
  }

  .prefixed-input {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    padding: 0;
    cursor: text;

    .prefix {
      flex: initial;
      padding: 8px;
      padding-right: 2px;
      color: @pale-text-on-white;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      letter-spacing: -0.04em;
    }

    input {
      flex: 1;
      width: 200px;
      max-width: calc(100% - 10px);
      margin: 0;
      border: none;
      font-size: 1em;
      padding-left: 4px;
    }
  }

  .info {
    font-size: 0.8em;
    float: right;
    position: relative;
    top: 2px;
  }

  button, .sending {
    margin: 32px 0 0;
    padding: 8px;
    width: 100%;
    font-size: 1.2em;
    box-sizing: border-box;
    background: @green-button-back;
    color: #000000;
    text-align: center;

    &:disabled {
      background: @beige-shadow;
    }
  }

  button[type=button] {
    background: white;
  }

  .sending {
    background: @beige-shadow;
  }

  .error {
    color: @red-text-on-white;
  }
}
