.connectionMessage {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 16px;
  border-radius: 4px;
  color: var(--notification-text);
  background: color-mix(
    in srgb-linear,
    var(--notification-back) 70%,
    transparent
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 3;

  @media (prefers-reduced-transparency) {
    background: var(--notification-back);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }

  & svg {
    width: 0.9em;
    height: 0.9em;
  }

  &.connected {
    top: -80px;
    opacity: 0;
    visibility: hidden;
    transition:
      top 1.5s step-end,
      visibility 1.5s step-end,
      opacity 0.5s ease 1s;
    animation: pulse 0.2s;
    user-select: none;
    pointer-events: none;
  }
}

@keyframes pulse {
  from {
    transform: translateX(-50%);
    animation-timing-function: ease-out;
  }

  50% {
    transform: translateX(-50%) scale(1.1);
    animation-timing-function: ease-in;
  }

  to {
    transform: translateX(-50%);
  }
}

.connectionMessage.disconnected {
  top: 8px;
  opacity: 1;
  visibility: visible;
  transition: top 0.2s cubic-bezier(0.1, 0.5, 0.6, 1.3) 1.5s;
}
