.preview-container {
  display: block;
  position: relative;
  /* --width, --height, --targetw set by js */
  --scale: calc(var(--targetw) / var(--width));
  height: calc(var(--height) * var(--scale) * 1px);
  overflow: hidden;
}

.preview {
  display: block;
  position: absolute;
  width: calc(1px * var(--width));
  height: calc(1px * var(--height));
  scale: var(--scale);
  transform-origin: 0 0;
  pointer-events: none;
  border: none;
}
