.api-key-manager {
  list-style: none;

  & > li {
    margin: 16px 0 8px;

    &.options {
      display: flex;
      flex-flow: row wrap;
      gap: 8px 16px;
      justify-content: center;
    }
  }

  & > li.tile {
    padding: 8px;
    border: 1px solid var(--beige-shadow);
    position: relative;
    background: var(--page-back);

    & dl {
      display: grid;
      grid-template-columns: 1fr 1fr 2rem;
      gap: 8px;

      & dt {
        font-size: 0.8em;
        font-weight: bolder;
      }

      .name {
        grid-area: 1 / 1 / 2 / 4;
      }

      .created {
        grid-area: 2 / 1 / 3 / 2;
      }

      .lastUsed {
        grid-area: 3 / 1 / 4 / 2;
      }

      .scopes {
        grid-area: 2 / 2 / 4 / 4;
      }
    }

    .delete {
      position: absolute;
      top: 8px;
      right: 8px;
      width: 2rem;
      height: 2rem;
      color: var(--red-icon);
    }
  }
}
