.popup-add-api-key {
  & p {
    margin: 16px 0;
  }

  .key-output {
    text-align: center;
    overflow: auto;
    padding: 20px;
    background: var(--beige-back);
    border-radius: 5px;
    white-space: nowrap;
    user-select: all;
  }

  .scope-id {
    display: inline-block;
    min-width: 7em;
  }

  .dialog-options {
    margin-top: 32px;
  }
}
