.popup-add-readonly-url.global-form {
  width: auto;
  max-width: 600px;
}

.popup-add-readonly-url {
  max-width: min(calc(100vw - 64px), 800px);

  & p {
    margin: 16px 0;
  }

  .url-output {
    text-align: center;
    overflow: auto;
    padding: 20px;
    background: var(--beige-back);
    border-radius: 5px;
    white-space: nowrap;
    user-select: all;
  }

  .dialog-options {
    margin: 32px 0 16px;
    text-align: center;

    & button {
      margin: 0 16px;
    }
  }
}
