.popup-add-readonly-url.global-form {
  width: 800px;
}

.popup-add-readonly-url {
  & p {
    margin: 16px 0;
  }

  .url-output {
    text-align: center;
    overflow: auto;
    padding: 20px;
    background: var(--beige-back);
    border-radius: 5px;
    white-space: nowrap;
    user-select: all;
  }

  .dialog-options {
    margin-top: 32px;
  }
}
