.popup-add-api-key.global-form {
  width: auto;
  max-width: 600px;
}

.popup-add-api-key {
  & p {
    margin: 16px 0;
  }

  .scope-id {
    display: inline-block;
    min-width: 7em;
  }

  .dialog-options {
    margin: 32px 0 16px;
    text-align: center;

    & button {
      margin: 0 16px;
    }
  }
}
