form.retro-settings {
  margin: 64px auto;

  & h2 {
    font-size: 1.2em;
    font-weight: bolder;
    margin: 32px 0 16px;
  }

  & p {
    margin: 8px 0;
  }

  .retro-url {
    padding-bottom: 4px;
  }

  .retro-id-display {
    user-select: all;
  }

  .form-actions {
    margin: 0 -16px;
    padding: 16px 16px 4px;
    background: color-mix(in srgb-linear, var(--beige-back) 90%, transparent);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: sticky;
    bottom: 0;

    & button {
      margin: 0;
    }

    @media (prefers-reduced-transparency) {
      background: var(--beige-back);
      backdrop-filter: none;
      -webkit-backdrop-filter: none;
    }

    @media (prefers-contrast: more) {
      border-top: 1px solid var(--shadow-2);
      background: var(--beige-back);
      backdrop-filter: none;
      -webkit-backdrop-filter: none;
    }
  }

  .form-actions-shadow {
    position: sticky;
    /* anchor positioning would be better here, but browsers still have lots of bugs */
    bottom: calc(20px + 16px + 1.68rem + 32px + 1.4rem - 50px);
    height: 48px;
    margin: 24px -16px -48px;
    pointer-events: none;
    box-shadow: 0 -14px 4px -12px var(--shadow-2);

    @media (prefers-contrast: more) {
      visibility: hidden;
    }
  }

  .bottom-shadow-cover {
    position: relative;
    top: -20px;
    margin: 0 -16px -32px;
    height: 32px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      var(--beige-back) 40%
    );
  }
}
