form.retro-settings {
  margin: 64px auto 128px;

  .edit-password {
    margin: 32px 0;
  }

  .edit-password-button {
    display: block;
    margin: 32px auto;
  }

  .theme {
    max-height: 18rem;
  }

  .theme-row {
    padding: 4px 8px;
    display: grid;
    grid-template-columns: auto 3.5rem 3.5rem 3.5rem;
    align-items: center;

    .name {
      padding-left: 16px;
      font-size: 1rem;
    }

    .preview {
      font-size: 2.5rem;
      vertical-align: middle;
      display: inline-block;
      text-align: center;
    }
  }
}
