@base-padding: 16px;
@action-header-padding: 24px;

.retro-format-mood {
  .happy {
    background: hsl(172deg, 50%, 55%);

    .text-entry {
      background: hsl(172deg, 50%, 45%);
    }
  }

  .meh {
    background: hsl(45deg, 100%, 55%);

    .text-entry {
      background: hsl(45deg, 100%, 45%);
    }
  }

  .sad {
    background: hsl(5deg, 75%, 58%);

    .text-entry {
      background: hsl(5deg, 75%, 45%);
    }
  }

  .actions {
    background: hsl(45deg, 20%, 92%);

    .text-entry {
      background: hsl(45deg, 20%, 80%);
    }

    &.tab-item {
      color: #000000;
    }
  }

  .columns > section, .tab-control > section, section.actions {
    box-sizing: border-box;
    padding: @base-padding @base-padding (@base-padding + 4px);

    > header {
      margin: 0 0 @base-padding;
      text-align: center;

      h2 {
        font-weight: bolder;
        margin: 0 0 @base-padding;
      }
    }
  }

  section.actions {
    > section {
      box-sizing: border-box;
    }

    h3 {
      margin: 0 0 @base-padding;
    }
  }

  ul.item-column {
    list-style: none;

    li {
      margin: @base-padding 0;
    }
  }

  .tab-bar {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .tab-item {
    font-size: 0.9em;
    padding: 0.8em 4px;
    font-weight: bolder;
    color: #FFFFFF;
    outline: none;
    cursor: pointer;

    transition: margin-top 0.1s ease-out, padding-bottom 0.1s ease-out;
  }

  .tab-item:not(.active) {
    box-shadow: inset 0 -7px 5px -5px rgba(0, 0, 0, 0.1);
  }

  .tab-item.active {
    margin-top: -2px;
    padding-bottom: calc(0.8em + 2px);
  }

  .text-entry {
    border-radius: 4px;
    transition: background 0.1s ease-out;

    textarea {
      padding: 20px 12px;
      font-size: 1.1em;
      outline: none;

      &::placeholder {
        color: #FFFFFF;
        transition: color 0.1s ease-out;
      }
    }

    button {
      margin: 8px;
      padding: 12px 20px;
      border-radius: 4px;
      font-size: 1.5em;
      background: #50E3C2;
      color: #FFFFFF;
      font-weight: bold;
      font-size: 1em;
      cursor: pointer;
    }

    &.multiline {
      textarea {
        padding-bottom: 4px;
      }

      button {
        margin-top: 0;
      }
    }

    button:disabled {
      display: none;
    }

    &:focus-within {
      background: #FFFFFF;

      &:not(.multiline) {
        border-radius: 4px;
        background: #FFFFFF;
      }

      textarea::placeholder {
        color: #808080;
      }
    }
  }

  &.multi-column {
    .columns {
      display: flex;
      flex-direction: row;
      min-height: 50vh;

      > section {
        flex: 1;
        max-width: 33.3334%;
      }
    }

    section.actions {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      padding: 0;

      > header {
        flex: 0 0 100%;
        margin-bottom: (@action-header-padding + 4px);

        h2 {
          text-align: center;
          margin: @action-header-padding 0;
        }

        .text-entry {
          max-width: 24em;
          margin: 0 auto;
        }
      }

      > section {
        flex: 1;
        max-width: 33.3334%;
        padding: 0 @base-padding 32px;
      }
    }
  }

  &.single-column {
    h2 {
      display: none;
    }

    .tab-control > section {
      padding-bottom: 192px;
      min-height: 100vh;

      > section {
        padding-bottom: 20px;
      }
    }
  }
}
