.retro-format-mood .columns {
  display: flex;
  flex-direction: row;
  min-height: 50vh;
}

.retro-format-mood .columns > section {
  flex: 1;
}

.retro-format-mood .happy {
  background: #80FF80;
}

.retro-format-mood .meh {
  background: #FFFF80;
}

.retro-format-mood .sad {
  background: #FF8080;
}

.retro-format-mood .actions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.retro-format-mood .actions > h2 {
  flex: 0 0 100%;
}

.retro-format-mood .actions > section {
  flex: 1;
}
