.mood-line-editor {
  position: relative;
  padding-bottom: 8px;

  .drawing-area {
    width: 100%;
    height: max(min(60lvw, calc(100dvh - 220px)), 300px);
    font-size: 1rem;
    background: var(--primary-back);
    padding: calc(40px + 3.5em) 96px calc(8px + 3.5em);
    box-sizing: border-box;
    --x-axis-pad-r: -32px;
    --y-label-size: 32px;

    .x-axis,
    .y-axis {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: var(--pale-text-on-white);
      pointer-events: none;
      --arrow-w: 4px;
      --arrow-l: 8px;

      .line {
        position: absolute;
        background: currentColor;

        &::before,
        &::after {
          position: absolute;
          margin: calc(0px - var(--arrow-w));
          border: var(--arrow-w) solid transparent;
        }
      }

      .label {
        position: absolute;
        white-space: nowrap;
        font-size: 0.8em;
        padding: 4px;
      }
    }

    .x-axis {
      .line {
        top: 50%;
        left: 0;
        right: var(--x-axis-pad-r);
        height: 1px;

        &::after {
          content: '';
          top: 50%;
          right: 0;
          width: 0;
          height: 0;
          border-left: var(--arrow-l) solid currentColor;
          border-right: none;
          margin-right: 0;
        }
      }

      .label {
        bottom: 50%;
        right: var(--x-axis-pad-r);
      }

      .event-line {
        position: absolute;
        left: var(--pos);
        top: 0;
        bottom: 0;
        width: 1px;
        background: color-mix(in srgb-linear, currentColor 20%, transparent);

        &.n0 {
          bottom: 8px;
        }
        &.n1 {
          top: 8px;
        }
      }

      .event-label {
        --w: 7em;
        display: -webkit-box;
        position: absolute;
        margin: 4px 0;
        left: calc(var(--pos) - var(--w) * 0.5);
        width: var(--w);
        color: var(--primary-text);
        text-align: center;
        overflow-wrap: break-word;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;

        & span {
          background: var(--primary-back);
          border-radius: 2px;
          padding: 0 2px;
        }

        &.n0 {
          bottom: 100%;
        }
        &.n1 {
          top: 100%;
        }
      }

      .notch {
        position: absolute;
        left: var(--pos);
        top: 50%;
        width: 1px;
        height: 4px;
        background: color-mix(in srgb-linear, currentColor 60%, transparent);
      }
    }

    .y-axis {
      .line {
        top: 0;
        left: 0;
        bottom: 0;
        width: 1px;

        &::before {
          content: '';
          top: 0;
          left: 50%;
          width: 0;
          height: 0;
          border-bottom: var(--arrow-l) solid currentColor;
          border-top: none;
          margin-top: 0;
        }

        &::after {
          content: '';
          bottom: 0;
          left: 50%;
          width: 0;
          height: 0;
          border-top: var(--arrow-l) solid currentColor;
          border-bottom: none;
          margin-bottom: 0;
        }
      }

      .label {
        bottom: calc(50% - 50px);
        left: -2px;
        width: 100px;
        text-align: center;
        transform: rotate(-90deg);
        transform-origin: bottom left;
      }

      .label-top,
      .label-bottom {
        position: absolute;
        text-align: center;
        font-size: var(--y-label-size);
        left: -1.5em;
        right: 100%;
        line-height: 1;
      }

      .label-top {
        top: 8px;
      }

      .label-bottom {
        bottom: 8px;
      }
    }
  }

  .toolbox {
    position: sticky;
    top: 50px; /* size of tab bar */
    left: 0;
    right: 0;
    width: fit-content;
    padding: 2px;
    margin: 0 auto -37px;
    border: 1px solid var(--beige-shadow);
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-flow: row;
    gap: 2px;
    background: var(--primary-back);
    color: var(--primary-text);
    z-index: 1;
    user-select: none;

    & button {
      display: grid;
      place-items: center center;
      position: relative;
      padding: 2px;
      width: 32px;
      height: 32px;
      border-radius: 8px;

      & img {
        display: block;
        max-width: 20px;
        max-height: 20px;
      }

      &:hover,
      &:active {
        background: color-mix(
          in srgb-linear,
          var(--selected-back) 50%,
          transparent
        );
      }

      &[aria-pressed='true'] {
        background: var(--selected-back);
      }
    }
  }
}

@media (max-width: 800px) {
  .mood-line-editor .drawing-area {
    font-size: 0.8rem;
    padding: calc(40px + 3.5em) 40px calc(8px + 3.5em);
    --x-axis-pad-r: -24px;
    --y-label-size: 24px;
  }
}
