.giphy-attachment {
  & > img {
    display: block;
    margin: 0 auto 8px;
    width: 100%;
    max-height: clamp(100px, 30vh, 300px);
    object-fit: contain;
  }

  & figcaption {
    display: block;
    text-align: center;
  }
}
