.popup-giphy {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 900px;
  max-width: calc(100vw - 128px);
  max-height: calc(100vh - 128px);

  & form {
    display: flex;

    & input {
      border: 1px solid var(--beige-shadow);
      margin: 0;
      padding: 8px 16px;
      flex: 1;
    }
  }

  .choices {
    flex: 1;
    min-height: 100px;
    margin: 0 -32px;
    padding: 32px;
    overflow-y: auto;
    text-align: center;

    & button {
      position: relative;
      vertical-align: top;
      background: var(--modal-back);
      border: 4px solid var(--modal-back);
      transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;

      & img {
        width: 160px;
        height: 120px;
        object-fit: contain;
        display: block;
      }

      &:hover,
      &:focus {
        z-index: 1;
        transform: scale(1.3);
        box-shadow:
          0 0 0 2px var(--green-shadow),
          0 3px 4px var(--shadow-1);
      }

      &:active {
        transform: scale(1.2);
      }
    }
  }

  .dialog-options {
    text-align: center;

    & button {
      margin: 0 16px;
    }
  }

  .credit {
    display: block;
    position: absolute;
    bottom: 8px;
    right: 8px;
  }
}
