.alert-message {
  font-weight: bolder;
  margin: 16px 0;

  & svg {
    width: 1.2em;
    height: 1.2em;
    vertical-align: -0.25em;
    margin-right: 4px;
  }

  &.warning {
    color: var(--yellow-text-on-white);
  }

  &.error {
    color: var(--red-text-on-white);
  }
}
