.anchor {
  position: relative;

  & a {
    position: absolute;
    top: 0;
    left: -1.5em;
    width: 1.5em;
    height: 100%;

    &::before {
      content: '#';
      visibility: hidden;
    }

    &:focus-visible::before {
      visibility: visible;
    }
  }

  &:hover a::before {
    visibility: visible;
  }
}
