.text-entry {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  background: #FFFFFF;

  textarea {
    margin: 0;
    padding: 0;
    width: 100%;
    background: transparent;
    min-height: 1em;
    box-sizing: border-box;
    border: none;
    resize: none;
  }

  button {
    flex: 1 1 auto;
    margin: 0;
  }

  &.multiline {
    display: block;
    text-align: right;
    text-align: end;

    textarea {
      text-align: left;
      text-align: start;
    }
  }
}
