.text-entry {
  display: flex;
  flex-flow: row wrap;
  background: var(--primary-back);

  & textarea {
    flex: 1;
    background: none;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  &.multiline .buttons {
    flex: 100%;
    align-items: flex-end;

    & :only-child {
      /* align right */
      margin-left: auto;
    }
  }
}
