.top-header {
  display: flex;
  position: relative;
  box-shadow: 0 4px 3px -5px var(--shadow-2);
  background: var(--header-back);
  text-align: left;

  .back {
    order: -1;
    margin-right: 16px;

    &::before {
      content: '\2039';
      padding-right: 4px;
    }
  }

  & h1 {
    flex: 1;
    padding: 16px;
    font-size: 1.5em;
    line-height: 1.8rem;
    font-weight: bolder;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .menu {
    margin-left: 16px;
  }

  & a,
  & button {
    display: inline-block;
    padding: 16px 12px;
    box-sizing: border-box;
    background: var(--header-back);
    line-height: 1.8rem;
    height: 100%;

    &,
    &:link,
    &:visited {
      color: var(--header-link-text);
    }

    &:active,
    &:hover,
    &:focus {
      background: var(--header-link-back-hover);
      color: var(--header-link-text-hover);
      text-decoration: none;
    }
  }
}

@media (min-width: 600px) {
  .top-header .back {
    position: absolute;
    top: 0;
    left: 0;
  }

  .top-header h1 {
    margin: 0 64px;
    text-align: center;
    text-overflow: clip;
  }

  .top-header .menu {
    position: absolute;
    top: 0;
    right: 0;
  }
}
