.picker-input {
  background: var(--primary-back);
  overflow-y: auto;

  > label {
    display: block;
    position: relative;
    border-bottom: 1px solid var(--beige-shadow);

    &:last-child {
      border-bottom: none;
    }

    > span {
      display: block;
      cursor: pointer;

      &:hover {
        background: var(--beige-back);
      }
    }

    /* class name and type included to ensure high specificity */
    > input.picker-hidden[type='radio'] {
      margin: 0;
      position: absolute;
      left: -10px;
      width: 1px;
      height: 100%;
      box-sizing: border-box;

      &:focus-visible {
        outline: none;

        & + span {
          box-shadow: inset 0 0 0 2px var(--focus-border);
        }
      }

      &:checked + span {
        background: var(--selected-back);
      }
    }
  }
}
