.popup-content {
  --animate-in: 0.2s;
  --animate-out: 0.15s;
}

.popup-content,
.popup-content::backdrop {
  opacity: 0;
  transition:
    display var(--animate-out) allow-discrete,
    overlay var(--animate-out) allow-discrete,
    transform var(--animate-out) ease-in,
    opacity var(--animate-out) ease-in;
}

.popup-content::backdrop {
  transform: translateZ(0); /* use GPU to speed up blur effect */
  background: var(--modal-screen);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.popup-content {
  background: var(--modal-back);
  padding: 16px 32px;
  box-shadow: 0 10px 30px var(--shadow-2);
  transform: scale(0.97);

  & h1 {
    font-weight: bolder;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 16px;

    &.hidden {
      /* still visible to screen readers due to aria-labelledby */
      display: none;
    }
  }
}

.popup-content[open],
.popup-content[open]::backdrop {
  opacity: 1;
  transform: none;
  transition:
    transform var(--animate-in) ease-out,
    opacity var(--animate-in) ease-out;
}

@starting-style {
  .popup-content[open]::backdrop {
    opacity: 0;
  }

  .popup-content[open] {
    opacity: 0;
    transform: scale(0.9);
  }
}

@media (prefers-reduced-motion) {
  .popup-content,
  .popup-content[open] {
    transform: none;
  }
}
