.tab-bar {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}

.tab-item {
  margin: 0;
  padding: 0;
  cursor: pointer;

  & input {
    position: absolute;
    left: -100px;
    opacity: 0;
  }
}
