.page-welcome {
  text-align: center;

  & section {
    width: 600px;
    max-width: calc(100% - 32px);
    margin: 32px auto 64px;
  }

  & section:last-child {
    margin-bottom: 128px;
  }

  .logo {
    display: block;
    width: 192px;
    height: 192px;
    margin: 0 auto 16px;

    @media (prefers-color-scheme: dark) {
      filter: brightness(0.94) contrast(1.27);
    }
  }

  & p {
    margin: 8px 0;
  }

  & ul.retros {
    list-style: none;

    & li {
      margin-bottom: 16px;
    }
  }

  .retro-link {
    display: grid;
    grid-template-columns: 32px 1fr 32px;
    padding: 16px;
    background: var(--primary-back);
    color: var(--green-text-on-white);

    &:active,
    &:hover,
    &:focus {
      text-decoration: none;
      background: var(--green-button-dark);
      color: var(--green-button-dark-text);
    }

    .name {
      grid-column: 2;
    }

    .retro-format-icon {
      margin: -4px;
    }
  }

  .link-create {
    margin-top: 32px;
  }

  .login-form {
    margin-top: 24px;
  }
}
