.action-item {
  background: var(--primary-back);
  padding: 16px 24px;
  border-radius: 4px;
  position: relative;

  &.editing {
    padding: 0;

    .text-entry {
      background: none;
    }
  }

  .message {
    padding: 0 2.5rem;
    overflow-wrap: break-word;
  }

  .toggle-done {
    position: absolute;
    top: 50%;
    left: 2px;
    width: 3rem;
    height: 3rem;
    margin-top: -1.5rem;
    line-height: 1rem;
    border-radius: 1px;
    outline: none; /* custom focus ring */
    color: var(--primary-text);

    &:focus::after {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      margin: -12px;
      border-radius: 1px;
      top: 50%;
      left: 50%;
      /* fake focus ring to replace outline */
      box-shadow:
        0 0 1px 5px var(--primary-back),
        0 0 1px 6px var(--focus-border);
    }

    &::before {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      margin: -15px;
      top: 50%;
      left: 50%;
      border: 2px solid var(--beige-icon);
      box-sizing: border-box;
      background: var(--primary-back);
      border-radius: 4px;
      z-index: 1;
      box-shadow: 0 0 0 -2px var(--green-button-back);
    }

    & svg {
      pointer-events: none;
      position: absolute;
      width: 30px;
      height: 30px;
      margin: -18px -11px;
      left: 50%;
      top: 50%;
      stroke: var(--primary-back);
      stroke-width: 2px;
      paint-order: stroke;
      z-index: 1;
      opacity: 0;
      transform: scale(0);
      transform-origin: 30% 70%;
      transition:
        transform 0.1s step-end,
        opacity 0.1s ease-out;
    }

    &:active::before {
      width: 28px;
      height: 28px;
      margin: -14px;
    }
  }

  &.done .toggle-done {
    &::before {
      transition: box-shadow 0.5s ease-out;
      box-shadow: 0 0 10px 30px transparent;
    }

    & svg {
      transition: transform 0.3s cubic-bezier(0.5, 2.5, 0.6, 1);
      opacity: 1;
      transform: none;
    }
  }

  .edit {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0.3;
    background: center no-repeat url(../../../../../resources/pencil.svg);

    &:hover {
      opacity: 0.9;
    }
  }
}
