.mood-item {
  background: var(--primary-back);
  padding: 0;
  border-radius: 4px;
  position: relative;

  .scroll-target {
    position: absolute;
    top: -16px;
    right: -4px;
    bottom: -128px;
    left: -4px;
    pointer-events: none;
  }

  .message {
    padding: 16px calc(16px + 2.5rem);
    overflow-wrap: break-word;
    text-align: inherit;
    box-sizing: border-box;
    width: 100%;
    color: var(--primary-text);
    cursor: default;
  }

  .vote {
    position: absolute;
    top: 50%;
    left: 4px;
    width: 3rem;
    height: 3rem;
    margin-top: -1.5rem;
  }

  .edit {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0.3;
    background: center no-repeat url(../../../../../resources/pencil.svg);

    &:hover {
      opacity: 0.9;
    }
  }

  &.editing .text-entry {
    background: none;
  }

  &.done {
    opacity: 0.35;

    .edit {
      display: none;
    }

    .tick {
      position: absolute;
      top: 50%;
      right: 8px;
      width: 2rem;
      height: 2rem;
      margin-top: -1rem;
      pointer-events: none;
      /* WIP: dark mode */
      color: color-mix(in srgb, var(--punchout) 85%, black);
    }
  }

  &.focused {
    margin: -4px;
    padding: 20px 8px 8px;
    box-shadow: 0 5px 10px -2px var(--shadow-1);

    .vote {
      top: 4px;
      left: 4px;
      margin: 0;
    }

    .message {
      font-size: 1.5em;
      font-weight: bolder;
      padding: 2.5rem 0 20px;
      text-align: center;
    }

    .timer {
      position: absolute;
      top: 8px;
      right: 8px;
      text-align: center;
      font-size: 1em;

      .countdown {
        line-height: 2.5rem;
        min-width: 2.5rem;
        color: var(--pale-text-on-white);
        margin: 0;
      }

      .timeup {
        color: var(--green-text-on-white);
        font-weight: bolder;
        font-size: 0.9em;
        margin: 0;
      }

      & button {
        font-size: 0.8em;
        color: var(--pale-text-on-white);
      }
    }

    .cancel,
    .continue {
      border-radius: 4px;
      font-size: 0.9em;
      white-space: nowrap;
    }

    .cancel {
      padding: 4px 8px;
      position: absolute;
      bottom: 8px;
      left: 8px;
    }

    .continue {
      padding: 12px 20px;
      font-weight: bolder;
      background: var(--green-button-back);
      color: var(--green-button-text);
      float: right;
    }

    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }

  & figure {
    margin-bottom: 4px;
  }
}

.has-focused .mood-item:not(.focused):not(.editing):not(.done) {
  opacity: 0.7;
  transition:
    transform 0.1s ease,
    box-shadow 0.1s ease;

  .message:not(:disabled) {
    cursor: pointer;
  }
}

.multi-column.has-focused
  .mood-item:not(.focused):not(.editing):not(.done):hover {
  transform: translate(0, -1px);
  box-shadow: 0 2px 2px var(--shadow-1);
}

.archive .mood-item.done {
  opacity: 1;
}
