.page-archive-list {
  text-align: center;

  & p {
    margin: 64px 32px;
  }

  & ul.archives {
    margin: 64px 16px 128px;
    list-style: none;

    & li a {
      display: inline-block;
      margin: 8px 0;
      padding: 16px;
      width: 20rem;
      max-width: calc(100% - 32px);
      background: var(--primary-back);
      color: var(--green-text-on-white);

      &:active,
      &:hover,
      &:focus {
        text-decoration: none;
        background: var(--green-button-dark);
        color: var(--highlight-text-on-dark);
      }
    }
  }

  .extra-links {
    margin: 64px 0;
  }
}
