.page-archive-list {
  & ul.archives {
    margin: 64px 16px 128px;
    list-style: none;

    & li a {
      display: grid;
      grid-template-columns: 32px 1fr 32px;
      margin: 8px auto;
      padding: 16px;
      width: 20rem;
      max-width: calc(100% - 32px);
      background: var(--primary-back);
      color: var(--green-text-on-white);

      &:active,
      &:hover,
      &:focus {
        text-decoration: none;
        background: var(--green-button-dark);
        color: var(--highlight-text-on-dark);
      }

      .date {
        grid-column: 2;
      }

      .retro-format-icon {
        margin: -4px;
      }
    }
  }

  .extra-links {
    margin: 64px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 16px 32px;
  }
}
