<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">
<head>
<meta charset="utf-8">
<meta http-equiv="content-security-policy" content="
  base-uri 'self';
  default-src 'self';
  object-src 'none';
  script-src 'self' 'unsafe-eval';
  style-src 'self' 'unsafe-inline' https://fonts.googleapis.com;
  connect-src 'self' https://api.pwnedpasswords.com;
  font-src 'self' https://fonts.gstatic.com;
  img-src 'self';
  form-action 'none';
">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="#4EC7B6">
<title><%= htmlWebpackPlugin.options.title %></title>
<link rel="apple-touch-icon" href="/static/apple-touch-icon.png"/>
<link rel="manifest" href="/static/manifest.json"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese">
</head>
<body>
<noscript>Please enable Javascript!</noscript>
<div id="<%= htmlWebpackPlugin.options.appMountId %>"></div>
</body>
</html>
