.global-article {
  padding-bottom: 50vh;

  & section {
    margin: 64px auto;
    width: 600px;
    max-width: calc(100% - 32px);
    text-align: justify;

    &.wide {
      width: 800px;
    }

    & h2 {
      font-size: 1.2em;
      font-weight: bolder;
      margin-bottom: 16px;
      break-inside: avoid;
      break-after: avoid;
    }

    & p,
    & li {
      line-height: 1.7;
    }

    & p {
      margin: 16px 0;
    }

    & li {
      margin: 16px 0 16px 24px;
    }

    & ul.narrow li {
      margin: 4px 0 4px 24px;
    }

    & section {
      width: auto;
      max-width: none;
    }
  }
}

@media print {
  .global-article {
    padding-bottom: 0;

    & section {
      width: auto !important;
      max-width: none;
    }
  }
}

.short-page {
  text-align: center;

  & p {
    margin: 64px 32px;
  }
}
