.global-button {
  display: inline-block;
  padding: 8px 16px;
  background: var(--grey-button-back);
  border: 1px solid var(--grey-button-outline);
  color: var(--grey-button-text);
  transition: box-shadow 0.2s ease;
  text-align: center;

  &:hover,
  &:focus {
    box-shadow: 0 2px 4px var(--shadow-1);
    text-decoration: none;
  }

  &:active {
    box-shadow: none;
    text-decoration: none;
  }

  &.primary {
    background: var(--green-button-dark);
    border-color: var(--green-button-dark-outline);
    color: var(--green-button-dark-text);
  }

  &.destructive {
    background: var(--red-button-dark);
    border-color: var(--red-button-dark-outline);
    color: var(--red-button-dark-text);
  }

  &:disabled {
    background: var(--beige-shadow);
  }
}

@media print {
  .global-button {
    background: none !important;
    color: var(--primary-text) !important;
    border: 1px solid var(--beige-shadow);
  }
}
