.global-button {
  display: inline-block;
  padding: 8px 16px;
  background: var(--grey-button-back);
  color: var(--green-text-on-white);
  transition: box-shadow 0.2s ease;
  text-align: center;

  &:hover,
  &:focus {
    box-shadow: 0 2px 4px var(--shadow-1);
    text-decoration: none;
  }

  &:active {
    box-shadow: none;
    text-decoration: none;
  }

  &.primary {
    background: var(--green-button-dark);
    color: var(--green-button-dark-text);
  }

  &:disabled {
    background: var(--beige-shadow);
  }
}
