.global-form {
  display: block;
  width: 600px;
  max-width: calc(100vw - 32px);

  & label {
    display: block;
  }

  .horizontal {
    display: flex;
    align-content: stretch;

    > label,
    > input,
    > .prefixed-input {
      flex: 1 1 auto;
    }

    & input,
    .prefixed-input {
      margin: 0;
    }

    > button {
      flex: 0 0 auto;
      width: auto;
      margin: 0;
    }
  }

  & input[type='text'],
  & input[type='password'] {
    background: var(--primary-back);
    color: var(--input-text);
  }

  & input::placeholder,
  & textarea::placeholder {
    color: var(--pale-text-on-white);
  }

  & input,
  .prefixed-input,
  .picker-input {
    display: block;
    margin: 4px 0 16px;
    padding: 8px;
    font-size: 1.4em;
    border: 1px solid var(--beige-shadow);
    width: 100%;
    box-sizing: border-box;
  }

  & fieldset {
    margin-top: 8px;

    & legend {
      margin-bottom: 8px;
    }
  }

  & input[type='checkbox'],
  & input[type='radio'] {
    display: inline-block;
    margin: 4px 12px 16px 8px;
    vertical-align: top;
    padding: 0;
    border: none;
    width: auto;
  }

  & input[type='file'] {
    background: var(--primary-back);
    font-size: 1.2em;

    &::file-selector-button {
      background: var(--green-button-dark);
      border: none;
      border-right: 1px solid var(--beige-shadow);
      padding: 8px 16px;
      margin: -8px 12px -8px -8px;
      font: inherit;
      color: var(--green-button-dark-text);
      cursor: pointer;
    }
  }

  .picker-input {
    padding: 0;
  }

  .prefixed-input {
    position: relative;
    display: flex;
    flex-direction: row;
    background: var(--primary-back);
    padding: 0;
    cursor: text;

    .prefix {
      flex: 0 1 auto;
      padding: 8px;
      padding-right: 2px;
      color: var(--pale-text-on-white);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      letter-spacing: -0.04em;
    }

    & input {
      flex: 1 0 200px;
      margin: 0;
      border: none;
      font-size: 1em;
      padding-left: 4px;
    }
  }

  .info {
    font-size: 0.8em;
    float: right;
    position: relative;
    top: 2px;
  }

  .wide-button {
    display: block;
    margin: 32px 0 0;
    padding: 8px 16px;
    width: 100%;
    font-size: 1.2em;
    box-sizing: border-box;
    background: var(--green-button-dark);
    color: var(--green-button-dark-text);
    text-align: center;

    &:disabled,
    &.sending {
      background: var(--beige-shadow);
    }
  }
}
