.global-form {
  display: block;
  width: 600px;
  max-width: calc(100vw - 32px);

  & label {
    display: block;
  }

  .horizontal {
    display: flex;
    align-content: stretch;

    > label,
    > input,
    > .prefixed-input {
      flex: 1 1 auto;
    }

    & input,
    .prefixed-input {
      margin: 0;
    }

    > button {
      flex: 0 0 auto;
      width: auto;
      margin: 0;
    }
  }

  & input[type='text'],
  & input[type='password'] {
    background: var(--primary-back);
    color: var(--input-text);
  }

  & input::placeholder,
  & textarea::placeholder {
    color: var(--pale-text-on-white);
  }

  & input,
  .prefixed-input,
  .picker-input {
    display: block;
    margin: 4px 0 16px;
    padding: 8px;
    font-size: 1.4em;
    border: 1px solid var(--beige-shadow);
    width: 100%;
    box-sizing: border-box;
  }

  & input[hidden] {
    display: none;
  }

  & fieldset {
    margin-top: 8px;
    padding: 8px 8px 0;
    border: 1px solid var(--beige-shadow);

    & legend {
      margin-bottom: 8px;
      padding: 0 4px;
    }

    &.minimal {
      padding: 0;
      border: none;

      & legend {
        padding: 0;
      }

      & > :last-child {
        margin-bottom: 0;
      }
    }
  }

  & details {
    margin-top: 40px;
    padding: 0 8px;
    border: 1px solid transparent;

    & summary {
      margin: -0.9em 0 0 -4px;
      padding: 2px 8px;
      background: var(--beige-back);
      width: fit-content;
      cursor: pointer;
    }

    &:open {
      border-color: var(--beige-shadow);

      & summary {
        margin-bottom: 0.9em;
      }

      & > .content {
        margin: 0 -8px;
        padding: 0 8px;
        animation: 0.2s swipe-down;
        overflow: hidden;

        & > :first-child {
          margin-top: 0;
        }
      }
    }
  }

  & input[type='checkbox'],
  & input[type='radio'] {
    display: inline-block;
    margin: 4px 12px 4px 8px;
    vertical-align: top;
    padding: 0;
    border: none;
    width: auto;
  }

  & label.checkbox {
    display: flex;
    margin: 0 0 16px;
    align-items: baseline;

    & input[type='checkbox'] {
      position: relative;
      top: 2px;
    }
  }

  & input[type='file'] {
    background: var(--primary-back);
    font-size: 1.2em;

    &::file-selector-button {
      background: var(--green-button-dark);
      border: none;
      border-right: 1px solid var(--beige-shadow);
      padding: 8px 16px;
      margin: -8px 12px -8px -8px;
      font: inherit;
      color: var(--green-button-dark-text);
      cursor: pointer;
    }
  }

  .picker-input {
    padding: 0;
  }

  .prefixed-input {
    position: relative;
    display: flex;
    flex-direction: row;
    background: var(--primary-back);
    padding: 0;
    cursor: text;

    .prefix {
      flex: 0 1 auto;
      padding: 8px;
      padding-right: 2px;
      color: var(--pale-text-on-white);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      letter-spacing: -0.04em;
    }

    & input {
      flex: 1 0 200px;
      margin: 0;
      border: none;
      font-size: 1em;
      padding-left: 4px;
    }
  }

  .info {
    font-size: 0.8em;
    float: right;
    position: relative;
    top: 2px;
  }

  .wide-button {
    display: block;
    margin: 32px 0 0;
    padding: 8px 16px;
    width: 100%;
    font-size: 1.2em;
    box-sizing: border-box;
    background: var(--green-button-dark);
    color: var(--green-button-dark-text);
    text-align: center;

    &:disabled,
    &.sending {
      background: var(--beige-shadow);
    }
  }
}

@keyframes swipe-down {
  from {
    max-height: 0;
    animation-timing-function: cubic-bezier(0.4, 0.2, 1, 0.8);
  }

  99% {
    max-height: 600px;
  }

  to {
    max-height: none;
  }
}
