html, body,
form, button, input, textarea,
header, h1, h2, h3, h4, h5, h6,
p, ul, ol, li,
footer {
  margin: 0;
  padding: 0;
  border: none;
}

body, input, textarea, button {
  font: 300 1em 'Open Sans', sans-serif;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
}

a:link, a:visited {
  text-decoration: none;
  color: #2B9E8E;
}

a:active, a:hover, a:focus {
  text-decoration: underline;
  color: darken(#2B9E8E, 5%);
}
