html,
body {
  margin: 0;
  padding: 0;
}

form,
button,
input,
textarea,
fieldset,
legend,
header,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
img,
footer {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
}

dialog {
  padding: 0;
  border: none;
  outline: none;
  color: inherit;
}

dialog::backdrop {
  background: none;
}

button {
  background: none;
  cursor: pointer;

  &:disabled {
    cursor: inherit;
  }
}

textarea {
  min-width: 0; /* remove FireFox default */
}

/* match browser defaults */
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
}

body.headless * {
  /* headless browsers (E2E tests) may not be able to use the GPU, so disable expensive graphical operations */
  animation: none !important;
  transition: none !important;
  filter: none !important;
  backdrop-filter: none !important;
  -webkit-backdrop-filter: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
}
