.retro-format-mood {
  --base-padding: 16px;
  --action-header-padding: 24px;
  --add-action-max-scroll: 2000px;

  .happy {
    background: var(--green-back);
    --punchout: var(--green-back);

    & header .text-entry {
      background: var(--green-shadow);
    }
  }

  .meh {
    background: var(--yellow-back);
    --punchout: var(--yellow-back);

    & header .text-entry {
      background: var(--yellow-shadow);
    }
  }

  .sad {
    background: var(--red-back);
    --punchout: var(--red-back);

    & header .text-entry {
      background: var(--red-shadow);
    }
  }

  .actions {
    background: var(--beige-back);

    & header .text-entry {
      background: var(--beige-shadow);
    }

    &.tab-item {
      color: #000000; /* WIP: dark mode */
    }
  }

  .columns > section,
  .tab-control > section,
  & section.actions {
    box-sizing: border-box;
    padding: var(--base-padding) var(--base-padding)
      calc(var(--base-padding) + 4px);

    > header {
      margin: 0 0 calc(var(--base-padding) * 2);
      text-align: center;

      & h2 {
        font-weight: bolder;
        margin-bottom: var(--base-padding);
      }

      .face-icon {
        position: relative;
        margin-top: -0.4em;
        text-shadow:
          0 4px 8px var(--shadow-1),
          0 2px 3px var(--shadow-1);
        z-index: 1;
      }

      .face-icon.boring {
        margin-top: -0.05em;
      }
    }
  }

  & section.actions {
    > section {
      box-sizing: border-box;
    }

    & h3 {
      margin: 0 0 var(--base-padding);
    }
  }

  & ul.item-column {
    list-style: none;

    & li {
      margin: var(--base-padding) 0;
    }
  }

  .tab-bar {
    position: sticky;
    top: 0;
    z-index: 2; /* above action item checkboxes */
  }

  .tab-item {
    font-size: 0.9em;
    padding: 0.8em 4px;
    font-weight: bolder;
    color: #ffffff; /* WIP: dark mode */
    outline: none;

    transition:
      margin-top 0.1s ease-out,
      padding-bottom 0.1s ease-out;
  }

  .tab-item:not(.active) {
    box-shadow: inset 0 -7px 5px -5px rgba(0, 0, 0, 0.1); /* WIP: dark mode */
  }

  .tab-item.active {
    margin-top: -2px;
    padding-bottom: calc(0.8em + 2px);
  }

  .text-entry {
    position: relative;

    & textarea {
      padding: 20px 12px;
      font-size: 1.1em;
      outline: none;
      max-height: 200px;
    }

    .buttons {
      margin-right: 8px;

      & button {
        margin-left: 8px;
      }
    }

    .cancel {
      position: absolute;
      top: 2px;
      right: 2px;
      margin: 0;
      padding: 0.375rem;
      color: var(--pale-text-on-white);

      & svg {
        display: block;
        width: 0.75rem;
        height: 0.75rem;
      }
    }

    .submit,
    .delete {
      border-radius: 4px;
      font-size: 0.9em;
      white-space: nowrap;

      &:disabled {
        /* WIP: dark mode */
        background: #eeeeee;
        color: #aaaaaa;
      }
    }

    .submit {
      padding: 12px 20px;
      font-weight: bolder;
      background: var(--green-button-back);
      color: var(--green-button-text);

      & svg {
        width: 0.9em;
        height: 0.9em;
      }
    }

    .delete {
      padding: 4px 8px;
      color: var(--red-text-on-white);
      margin-right: 8px;

      & svg {
        width: 1.2em;
        height: 1.2em;
        vertical-align: -0.2em;
      }
    }

    .attachments {
      display: none;
      position: absolute;
      left: 16px;
      top: calc(100% - 12px);
      align-items: center;
      padding: 0 4px;

      &::before {
        content: '';
        position: absolute;
        top: 12px;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--primary-back);
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      > * {
        z-index: 1;
      }

      .label {
        font-size: 0.75rem;
        padding: 0 4px;
        color: var(--pale-text-on-white);
      }

      & button {
        margin-left: 4px;
      }

      .open-giphy {
        width: 1.5em;
        height: 1.5em;
        background: center center / 1.2em 1.2em no-repeat
          url(../../../../resources/giphy-icon.png);
      }
    }

    & figure {
      display: none;
      width: 100%;
      margin: 4px 0;
    }

    &.multiline {
      & textarea {
        padding-bottom: 0;
        margin-bottom: 8px;
      }

      .buttons {
        margin-bottom: 8px;
      }
    }

    &.has-value {
      .attachments {
        display: flex;
      }

      & figure {
        display: block;
      }
    }
  }

  & header .text-entry {
    border-radius: 4px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.08); /* WIP: dark mode */
    transition:
      background 0.1s ease-out,
      box-shadow 0.1s ease-out;

    .attachments::before {
      transition:
        background 0.1s ease-out,
        box-shadow 0.1s ease-out;
    }

    & textarea::placeholder {
      color: #ffffff; /* WIP: dark mode */
      transition: color 0.1s ease-out;
    }

    .submit {
      color: var(--green-button-dark-text);

      &:disabled {
        display: none;
      }
    }

    &.has-value:not(:focus-within) {
      background: color-mix(
        in srgb-linear,
        var(--primary-back) 80%,
        transparent
      );
      box-shadow: none;

      & textarea::placeholder {
        color: var(--pale-text-on-white);
      }

      .attachments::before {
        background: color-mix(
          in srgb-linear,
          var(--primary-back) 80%,
          transparent
        );
      }
    }

    &:focus-within {
      background: var(--primary-back);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* WIP: dark mode */

      & textarea::placeholder {
        color: var(--pale-text-on-white);
      }

      .attachments::before {
        background: var(--primary-back);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); /* WIP: dark mode */
      }
    }
  }

  &.multi-column {
    .columns {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      min-height: 50vh;
    }

    & section.actions {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      padding: 0;

      > header {
        grid-column: 1 / 4;
        margin-bottom: calc(var(--action-header-padding) + 4px);

        & h2 {
          text-align: center;
          margin: var(--action-header-padding) 0;
        }
      }

      .new-action-item .text-entry {
        margin: 0 auto;
        min-width: 24em;
        width: calc(100vw / 3 + 48px);
      }

      /* new-action-item is sticky on the bottom of the page
       * but because it needs to escape its parent, this
       * hierarchy is needed */
      .new-action-item-hold.always-visible {
        position: relative;
        margin: calc(var(--add-action-max-scroll) * -1) 0 -8px;
        pointer-events: none;
        z-index: 2; /* above face icons */

        &::before {
          content: '';
          display: block;
          height: var(--add-action-max-scroll);
        }

        .new-action-item {
          pointer-events: initial;
          padding: 16px 0;
          margin: -16px 0;
          background: color-mix(
            in srgb-linear,
            var(--beige-back) 90%,
            transparent
          );
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);
          position: sticky;
          bottom: 0;

          @media (prefers-reduced-transparency) {
            background: var(--beige-back);
            backdrop-filter: none;
            -webkit-backdrop-filter: none;
          }
        }

        .text-entry {
          & textarea {
            padding-top: 12px;
            padding-bottom: 12px;
          }

          .submit {
            padding: 6px 12px;
          }
        }
      }

      > section {
        padding: 0 var(--base-padding) 32px;
      }
    }
  }

  &.single-column {
    & h2 {
      display: none;
    }

    .tab-control > section {
      padding-bottom: 192px;
      min-height: 100vh;

      > section {
        padding-bottom: 20px;
      }
    }
  }
}
