@import (reference) '../../colours.less';

@base-padding: 16px;
@action-header-padding: 24px;
@add-action-max-scroll: 2000px;

.retro-format-mood {
  .happy {
    background: @green-back;

    header .text-entry {
      background: @green-shadow;
    }
  }

  .meh {
    background: @yellow-back;

    header .text-entry {
      background: @yellow-shadow;
    }
  }

  .sad {
    background: @red-back;

    header .text-entry {
      background: @red-shadow;
    }
  }

  .actions {
    background: @beige-back;

    header .text-entry {
      background: @beige-shadow;
    }

    &.tab-item {
      color: #000000;
    }
  }

  .columns > section, .tab-control > section, section.actions {
    box-sizing: border-box;
    padding: @base-padding @base-padding (@base-padding + 4px);

    > header {
      margin: 0 0 (@base-padding * 2);
      text-align: center;

      h2 {
        font-weight: bolder;
        margin-bottom: @base-padding;
      }

      .face-icon {
        position: relative;
        margin-top: -20px;
        text-shadow:
          0 4px 8px rgba(0, 0, 0, 0.2),
          0 2px 3px rgba(0, 0, 0, 0.2);
        z-index: 2;
      }
    }
  }

  section.actions {
    > section {
      box-sizing: border-box;
    }

    h3 {
      margin: 0 0 @base-padding;
    }
  }

  ul.item-column {
    list-style: none;

    li {
      margin: @base-padding 0;
    }
  }

  .tab-bar {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .tab-item {
    font-size: 0.9em;
    padding: 0.8em 4px;
    font-weight: bolder;
    color: #FFFFFF;
    outline: none;

    transition: margin-top 0.1s ease-out, padding-bottom 0.1s ease-out;
  }

  .tab-item:not(.active) {
    box-shadow: inset 0 -7px 5px -5px rgba(0, 0, 0, 0.1);
  }

  .tab-item.active {
    margin-top: -2px;
    padding-bottom: calc(0.8em + 2px);
  }

  .text-entry {
    textarea {
      padding: 20px 12px;
      font-size: 1.1em;
      outline: none;
    }

    .submit, .delete, .cancel {
      margin: 8px;
      border-radius: 4px;
      font-size: 0.9em;
      white-space: nowrap;

      &:disabled {
        background: #EEEEEE;
        color: #AAAAAA;
      }
    }

    .submit {
      padding: 12px 20px;
      font-weight: bolder;
      background: @green-button-back;
      color: #000000;

      &::before {
        content: "\2713";
        padding-right: 5px;
      }
    }

    .delete, .cancel {
      padding: 4px 8px;
    }

    .delete {
      float: left;
      color: @red-text-on-white;

      &::before {
        content: "\1F5D1";
        padding-right: 5px;
      }
    }

    .cancel {
      color: @pale-text-on-white;
    }

    .open-giphy {
      display: none;
      margin: auto 0 auto 8px;
      min-width: 28px;
      min-height: 28px;
      background: center center / contain no-repeat url(../../../resources/giphy-icon.png);
    }

    figure {
      display: none;
      width: 100%;
      margin: 4px 0;

      img {
        display: block;
        margin: 0 auto 4px;
        max-width: 100%;
        height: 100px;
      }

      figcaption {
        display: block;
        font-size: 0.8em;
        font-style: italic;
        text-align: center;
      }
    }

    &.multiline {
      textarea {
        padding-bottom: 8px;
      }

      button {
        margin-top: auto;
      }
    }

    &.has-value {
      .open-giphy {
        display: block;
      }

      figure {
        display: block;
      }
    }
  }

  header .text-entry {
    border-radius: 4px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.08);
    transition: background 0.1s ease-out, box-shadow 0.1s ease-out;

    textarea::placeholder {
      color: #FFFFFF;
      transition: color 0.1s ease-out;
    }

    .submit {
      color: #FFFFFF;

      &:disabled {
        display: none;
      }
    }

    &.has-value:not(:focus-within) {
      background: rgba(255, 255, 255, 0.8);
      box-shadow: none;

      textarea::placeholder {
        color: @pale-text-on-white;
      }
    }

    &:focus-within {
      background: #FFFFFF;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);

      textarea::placeholder {
        color: @pale-text-on-white;
      }
    }
  }

  &.multi-column {
    .columns {
      display: flex;
      flex-direction: row;
      min-height: 50vh;

      > section {
        flex: 1;
        max-width: 33.3334%;
      }
    }

    section.actions {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      padding: 0;

      > header {
        flex: 0 0 100%;
        margin-bottom: (@action-header-padding + 4px);

        h2 {
          text-align: center;
          margin: @action-header-padding 0 calc(@action-header-padding - 16px);
        }

        .new-action-item-hold {
          margin: @action-header-padding auto 0;
          min-width: 24em;
          width: calc(100vw / 3 + 48px);
        }

        // new-action-item is sticky on the bottom of the page
        // but because it needs to escape its parent, this
        // hierarchy is needed
        .new-action-item-hold.always-visible {
          position: relative;
          margin: -@add-action-max-scroll auto -8px;
          pointer-events: none;

          &:before {
            content: "";
            display: block;
            height: @add-action-max-scroll;
          }

          .new-action-item {
            pointer-events: initial;
            padding: 8px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            background: @beige-back;
            box-shadow: 0 0 4px @beige-back;
            position: sticky;
            bottom: 0;
          }
        }
      }

      > section {
        flex: 1;
        max-width: 33.3334%;
        padding: 0 @base-padding 32px;
      }
    }
  }

  &.single-column {
    h2 {
      display: none;
    }

    .tab-control > section {
      padding-bottom: 192px;
      min-height: 100vh;

      > section {
        padding-bottom: 20px;
      }
    }
  }
}
