.slug-checker {
  position: absolute;
  top: 100%;
  right: 0;
  margin: 4px;
  font-size: 0.7rem;
  white-space: nowrap;

  & svg {
    width: 0.9em;
    height: 0.9em;
    vertical-align: -0.1em;
  }

  &.checking {
    margin-top: 4px;
    border: 2px solid currentColor;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 100%;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    opacity: 0.5;
    animation: spin 2s linear infinite;
  }

  &.taken,
  &.invalid {
    color: var(--red-text-on-white);
    font-weight: bolder;
  }

  &.available {
    color: var(--green-text-on-white);
    font-weight: bolder;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
